# Default ignored files
/shelf/
/workspace.xml
src/main/resources
src/resources/META-INF/persistence.xml

/JPA.iml

sonarlint/issuestore/e/4/e44a8606ce010ad9b89aafdfcee2ab49afbf6d10


/compiler.xml
/jarRepositories.xml
/misc.xml
/vcs.xml
../JPA.iml

